In [1]:
import pandas as pd
import numpy as np
from pyproj import Proj, transform
df = pd.read_excel(r'../dataset/2023 Pollution Inventory Dataset V2.xlsx',skiprows=9)
df.head()

,AUTHORISATION ID / PERMIT ID,ACTIVITY DESCRIPTION,OPERATOR NAME,SITE ADDRESS,SITE POSTCODE,EASTING,NORTHING,EA AREA NAME,ROUTE NAME,SUBSTANCE NAME,REPORTING THRESHOLD (kg),QUANTITY RELEASED (kg),REGULATED INDUSTRY SECTOR,REGULATED INDUSTRY SUB SECTOR
0,UP3133UK,"INTENSIVE FARMING; > 40,000 POULTRY",Fridays Ltd,Chequer Tree Farm And Coursehorn Farm Poultry ...,TN17 3PN,578630.0,134230.0,"Kent, South London and East Sussex",Air,Ammonia,1000.0,0,Agriculture,Intensive Farming
1,QP3133UM,"INTENSIVE FARMING; > 40,000 POULTRY",Hook2sisters Ltd,Winfarthing Farm Poultry Unit Short Green Winf...,IP22 2EE,610040.0,286300.0,East Anglia,Air,Ammonia,1000.0,0,Agriculture,Intensive Farming
2,UP3133UK,"INTENSIVE FARMING; > 40,000 POULTRY",Fridays Ltd,Chequer Tree Farm And Coursehorn Farm Poultry ...,TN17 3PN,578630.0,134230.0,"Kent, South London and East Sussex",Air,Particulate matter - PM10,1000.0,0,Agriculture,Intensive Farming
3,QP3133UM,"INTENSIVE FARMING; > 40,000 POULTRY",Hook2sisters Ltd,Winfarthing Farm Poultry Unit Short Green Winf...,IP22 2EE,610040.0,286300.0,East Anglia,Air,Particulate matter - PM10,1000.0,0,Agriculture,Intensive Farming
4,AP3833US,"INTENSIVE FARMING; > 40,000 POULTRY",Hook2sisters Ltd,Martham East Farm Poultry Unit Rollesby Road M...,NR29 4SL,645750.0,317400.0,East Anglia,Air,Ammonia,1000.0,0,Agriculture,Intensive Farming

In [2]:
#dummy variables for certain columns
categorical_columns = ["EA AREA NAME", "ROUTE NAME", "REGULATED INDUSTRY SECTOR", "REGULATED INDUSTRY SUB SECTOR"]

for col in categorical_columns:
    unique_values = {value: idx for idx, value in enumerate(sorted(df[col].unique()))}
    df[col + " LABEL"] = df[col].map(unique_values)

#gases to be removed
remove_gases = [
    "Sulphur oxides (SO2 and SO3) as SO2", "Carbon monoxide", "Carbon dioxide", 
    "Carbon Dioxide From Qualifying Renewable Fuel Sources", "Methane", 
    "Nitrogen - as total N", "Nitrogen oxides (NO and NO2) as NO2", "Nitrous oxide", 
    "Sulphur hexafluoride", "Hydrogen cyanide", "Fluorine and inorganic fluorine compounds - as HF", 
    "Chlorofluorocarbons (CFCs)", "Hydrochlorofluorocarbons (HCFCs)", "Hydrofluorocarbons (HFCs)", 
    "Perfluorocarbons (PFCs)"]
#removing from dataset
df_no_gas = df[~df["SUBSTANCE NAME"].isin(remove_gases)]

In [3]:
#drop rows where quantity released is 0 or "Below Reporting Threshold"
df_no_gas_cleaned = df_no_gas[~df_no_gas["QUANTITY RELEASED (kg)"].isin([0, "Below Reporting Threshold"])]
df_no_gas_cleaned["ROUTE NAME"] = df_no_gas_cleaned["ROUTE NAME"].str.strip().str.lower()
df_no_gas_cleaned["REGULATED INDUSTRY SECTOR"] = df_no_gas_cleaned["REGULATED INDUSTRY SECTOR"].str.strip().str.lower()


#reset index after dropping rows
df_no_gas_cleaned.reset_index(drop=True, inplace=True)
df_no_gas_cleaned.head()

C:\Users\andre\AppData\Local\Temp\ipykernel_19520\4124804988.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_gas_cleaned["ROUTE NAME"] = df_no_gas_cleaned["ROUTE NAME"].str.strip().str.lower()
C:\Users\andre\AppData\Local\Temp\ipykernel_19520\4124804988.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_no_gas_cleaned["REGULATED INDUSTRY SECTOR"] = df_no_gas_cleaned["REGULATED INDUSTRY SECTOR"].str.strip().str.lower()

,AUTHORISATION ID / PERMIT ID,ACTIVITY DESCRIPTION,OPERATOR NAME,SITE ADDRESS,SITE POSTCODE,EASTING,NORTHING,EA AREA NAME,ROUTE NAME,SUBSTANCE NAME,REPORTING THRESHOLD (kg),QUANTITY RELEASED (kg),REGULATED INDUSTRY SECTOR,REGULATED INDUSTRY SUB SECTOR,EA AREA NAME LABEL,ROUTE NAME LABEL,REGULATED INDUSTRY SECTOR LABEL,REGULATED INDUSTRY SUB SECTOR LABEL
0,BT5873IU,"INTENSIVE FARMING; > 40,000 POULTRY",LJ FAIRBURN AND SON LTD,Ivy House Farm Poultry Unit Ivy House Farm Far...,LN13 9PL,546500.0,374790.0,Lincolnshire and Northamptonshire,air,Particulate matter - PM10,1000.0,374,agriculture,Intensive Farming,7,0,0,11
1,XP3539RM,"INTENSIVE FARMING; > 40,000 POULTRY",Ridgeway Foods Limited,Seisdon Poultry Unit Fox Road Shipley West Mid...,WV6 7EL,382570.0,295320.0,West Midlands,air,Particulate matter - PM10,1000.0,395,agriculture,Intensive Farming,12,0,0,11
2,TP3636NV,"INTENSIVE FARMING; > 40,000 POULTRY",Fridays Ltd,Bowlands Farm Poultry Unit Tenterden Road Bidd...,TN27 8BH,585550.0,137170.0,"Kent, South London and East Sussex",air,Particulate matter - PM10,1000.0,618,agriculture,Intensive Farming,6,0,0,11
3,PP3030QE,"INTENSIVE FARMING; > 40,000 POULTRY",Hill Crest Eggs Limited,Cumberworth Road Cumberworth Lincolnshire,LN13 9LB,550370.0,374090.0,Lincolnshire and Northamptonshire,air,Particulate matter - PM10,1000.0,689,agriculture,Intensive Farming,7,0,0,11
4,HP3634CZ,"INTENSIVE FARMING; > 40,000 POULTRY",Watkins; Watkins,Stonehouse Farm Kempley Dymock Gloucestershire,GL18 2AT,367380.0,231840.0,West Midlands,air,Particulate matter - PM10,1000.0,800,agriculture,Intensive Farming,12,0,0,11

In [4]:
print(len(df))
print(df.columns)
#remove air substances
df_no_gas_cleaned = df_no_gas_cleaned[df_no_gas_cleaned["ROUTE NAME"] != "air"]

30110
Index(['AUTHORISATION ID / PERMIT ID', 'ACTIVITY DESCRIPTION', 'OPERATOR NAME',
       'SITE ADDRESS', 'SITE POSTCODE', 'EASTING', 'NORTHING', 'EA AREA NAME',
       'ROUTE NAME', 'SUBSTANCE NAME', 'REPORTING THRESHOLD (kg)',
       'QUANTITY RELEASED (kg)', 'REGULATED INDUSTRY SECTOR',
       'REGULATED INDUSTRY SUB SECTOR', 'EA AREA NAME LABEL',
       'ROUTE NAME LABEL', 'REGULATED INDUSTRY SECTOR LABEL',
       'REGULATED INDUSTRY SUB SECTOR LABEL'],
      dtype='object')

In [5]:
#show what each label represents
for col in categorical_columns:
    unique_values = {value: idx for idx, value in enumerate(sorted(df_no_gas_cleaned[col].unique()))}
    print(f"\nLabel mappings for {col}:")
    for value, label in unique_values.items():
        print(f"{label}: {value}")

Label mappings for EA AREA NAME:
0: Cumbria and Lancashire
1: Devon, Cornwall and the Isles of Scilly
2: East Anglia
3: East Midlands
4: Greater Manchester Merseyside and Cheshire
5: Hertfordshire and North London
6: Kent, South London and East Sussex
7: Lincolnshire and Northamptonshire
8: North East
9: Solent and South Downs
10: Thames
11: Wessex
12: West Midlands
13: Yorkshire

Label mappings for ROUTE NAME:
0: controlled waters
1: wastewater

Label mappings for REGULATED INDUSTRY SECTOR:
0: biowaste treatment
1: cement and minerals
2: chemicals
3: combustion
4: efw
5: food & drink
6: landfill
7: metals
8: nuclear
9: paper and textiles
10: refineries & fuel
11: waste treatment
12: water industry

Label mappings for REGULATED INDUSTRY SUB SECTOR:
0: Biowaste Treatment
1: Cement
2: Chemicals
3: EfW
4: Ferrous
5: Food & Drink
6: Hazardous Waste
7: Inert Landfill
8: Metals Recycling
9: Non Hazardous Landfill
10: Non-Ferrous
11: Non-Hazardous & Inert
12: Nuclear
13: Paper & Pulp
14: Power
15: Refineries & Fuel
16: Surface Treatment
17: Surface treatment
18: Textiles
19: Water Industry
20: other
21: paper & pulp

In [6]:
#convert Easting/Northing to Latitude/Longitude
in_proj = Proj(init='epsg:27700')  #British National Grid
out_proj = Proj(init='epsg:4326')  #WGS84 (Latitude/Longitude)

#CONVERSION
def convert_coordinates(row):
    lon, lat = transform(in_proj, out_proj, row['EASTING'], row['NORTHING'])
    return pd.Series([lat, lon])

df_no_gas_cleaned[['Latitude', 'Longitude']] = df_no_gas_cleaned.apply(convert_coordinates, axis=1)

C:\Users\andre\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\andre\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\andre\AppData\Local\Temp\ipykernel_19520\3859296045.py:7: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  lon, lat = transform(in_proj, out_proj, row['EASTING'], row['NORTHING'])

In [8]:
print(df_no_gas_cleaned[df_no_gas_cleaned["ROUTE NAME"] == "Land"])

Empty DataFrame
Columns: [AUTHORISATION ID / PERMIT ID, ACTIVITY DESCRIPTION, OPERATOR NAME, SITE ADDRESS, SITE POSTCODE, EASTING, NORTHING, EA AREA NAME, ROUTE NAME, SUBSTANCE NAME, REPORTING THRESHOLD (kg), QUANTITY RELEASED (kg), REGULATED INDUSTRY SECTOR, REGULATED INDUSTRY SUB SECTOR, EA AREA NAME LABEL, ROUTE NAME LABEL, REGULATED INDUSTRY SECTOR LABEL, REGULATED INDUSTRY SUB SECTOR LABEL, Latitude, Longitude]
Index: []

In [13]:
import json
from shapely.geometry import shape, Point
import geopandas as gpd

# Your existing dataframe
# Make sure it has columns: LATITUDE and LONGITUDE
# Example: df_no_gas_cleaned = pd.read_csv("your_data.csv")

# Load the GeoJSON manually (replace with your actual path)
with open("Regions_December_2024_Boundaries_EN_BFC_1195854647342073399 (1).geojson") as f:
    regions_geojson = json.load(f)

# Extract region polygons and names
region_shapes = []
for feature in regions_geojson["features"]:
    region_name = feature["properties"]["RGN24NM"]  # Adjust this to match your GeoJSON field
    polygon = shape(feature["geometry"])
    region_shapes.append((region_name, polygon))

# Function to find which region a point belongs to
def get_region_for_point(lat, lon):
    point = Point(lon, lat)
    for name, polygon in region_shapes:
        if polygon.contains(point):
            return name
    return None  # If it doesn't fall into any known region

# Apply function to your dataframe
df_no_gas_cleaned["REGION"] = df_no_gas_cleaned.apply(
    lambda row: get_region_for_point(row["Latitude"], row["Longitude"]),
    axis=1
)

# Check result
print(df_no_gas_cleaned[["Latitude", "Longitude", "REGION"]].head())

       Latitude  Longitude           REGION
1891  51.589197   0.513973  East of England
1892  51.589197   0.513973  East of England
1893  51.589197   0.513973  East of England
1895  51.589197   0.513973  East of England
1896  51.589197   0.513973  East of England

In [12]:
# Inspect one feature to see available keys
print(regions_geojson["features"][0]["properties"])

{'FID': 1, 'RGN24CD': 'E12000001', 'RGN24NM': 'North East', 'BNG_E': 417315, 'BNG_N': 600357, 'LONG': -1.72887, 'LAT': 55.29702, 'GlobalID': '4885458b-5614-4e44-87c5-26d5755e24c1'}

In [15]:
df_no_gas_cleaned['REGION']

1891    East of England
1892    East of England
1893    East of England
1895    East of England
1896    East of England
             ...
5982         North West
5983         North West
5984      West Midlands
5985         North West
5986             London
Name: REGION, Length: 2995, dtype: object

In [22]:
df_no_gas_cleaned.reset_index(drop=True, inplace=True)

df_no_gas_cleaned

,AUTHORISATION ID / PERMIT ID,ACTIVITY DESCRIPTION,OPERATOR NAME,SITE ADDRESS,SITE POSTCODE,EASTING,NORTHING,EA AREA NAME,ROUTE NAME,SUBSTANCE NAME,...,QUANTITY RELEASED (kg),REGULATED INDUSTRY SECTOR,REGULATED INDUSTRY SUB SECTOR,EA AREA NAME LABEL,ROUTE NAME LABEL,REGULATED INDUSTRY SECTOR LABEL,REGULATED INDUSTRY SUB SECTOR LABEL,Latitude,Longitude,REGION
0,AP3138CM,RECOVERY OR A MIX OF RECOVERY AND DISPOSAL OF ...,Urbaser Environmental Limited,Courtauld Road Waste Treatment Facility Courta...,SS3 1FL,574250.0,190810.0,East Anglia,wastewater,Polychlorinated biphenyls (PCBs) - as WHO TEQ,...,0.00004,biowaste treatment,Biowaste Treatment,2,3,1,0,51.589197,0.513973,East of England
1,AP3138CM,RECOVERY OR A MIX OF RECOVERY AND DISPOSAL OF ...,Urbaser Environmental Limited,Courtauld Road Waste Treatment Facility Courta...,SS3 1FL,574250.0,190810.0,East Anglia,wastewater,Polychlorinated biphenyls (PCBs),...,0.00004,biowaste treatment,Biowaste Treatment,2,3,1,0,51.589197,0.513973,East of England
2,AP3138CM,RECOVERY OR A MIX OF RECOVERY AND DISPOSAL OF ...,Urbaser Environmental Limited,Courtauld Road Waste Treatment Facility Courta...,SS3 1FL,574250.0,190810.0,East Anglia,wastewater,Mercury,...,0.00005,biowaste treatment,Biowaste Treatment,2,3,1,0,51.589197,0.513973,East of England
3,AP3138CM,RECOVERY OR A MIX OF RECOVERY AND DISPOSAL OF ...,Urbaser Environmental Limited,Courtauld Road Waste Treatment Facility Courta...,SS3 1FL,574250.0,190810.0,East Anglia,wastewater,Nickel,...,0.01,biowaste treatment,Biowaste Treatment,2,3,1,0,51.589197,0.513973,East of England
4,AP3138CM,RECOVERY OR A MIX OF RECOVERY AND DISPOSAL OF ...,Urbaser Environmental Limited,Courtauld Road Waste Treatment Facility Courta...,SS3 1FL,574250.0,190810.0,East Anglia,wastewater,Cyanides - as CN,...,0.01,biowaste treatment,Biowaste Treatment,2,3,1,0,51.589197,0.513973,East of England
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2990,16993399,NaN,UNITED UTILITIES WATER PLC,BIRKENHEAD,NaN,332800.0,389400.0,Greater Manchester Merseyside and Cheshire,controlled waters,Chlorides - as Cl,...,17000000,water industry,Water Industry,4,1,15,29,53.397132,-3.012083,North West
2991,16940143,NaN,UNITED UTILITIES WATER PLC,DAVYHULME,NaN,374800.0,396460.0,Greater Manchester Merseyside and Cheshire,controlled waters,Chlorides - as Cl,...,17600000,water industry,Water Industry,4,1,15,29,53.464274,-2.381042,North West
2992,T/10/35431/R,NaN,SEVERN TRENT WATER LTD,Minworth Final ASP Effluent,B76 9BE,417150.0,291950.0,West Midlands,controlled waters,Chlorides - as Cl,...,17700000,water industry,Water Industry,12,1,15,29,52.525158,-1.748653,West Midlands
2993,166993397,NaN,UNITED UTILITIES WATER PLC,Liverpool Waste Water Treatment Sandon Dock Re...,L3 0BE,333730.0,392800.0,Greater Manchester Merseyside and Cheshire,controlled waters,Chlorides - as Cl,...,33100000,water industry,Water Industry,4,1,15,29,53.427807,-2.998815,North West
2994,CSSA.0360,NaN,THAMES WATER UTILITIES LTD,BECKTON STW,IG11 0AD,545470.0,181670.0,Hertfordshire and North London,controlled waters,Chlorides - as Cl,...,33900000,water industry,Water Industry,5,1,15,29,51.515230,0.095074,London

In [17]:
#create new excel files
df_no_gas.to_excel("pollution_no_gas.xlsx",index=False)
df_no_gas_cleaned.to_excel("pollution_no_gas_cleaned.xlsx",index=False)

In [24]:
# Filter rows with missing REGION
missing_regions = df_no_gas_cleaned[df_no_gas_cleaned["REGION"].isna()]

# Print index (row number) and SITE POSTCODE
for index, row in missing_regions.iterrows():
    print(f"Row {index}: Longitude = {row['Longitude']},Latitude = {row['Latitude']}")

Row 301: Longitude = -3.392487928931488,Latitude = 51.71728541554024
Row 327: Longitude = -3.392487928931488,Latitude = 51.71728541554024
Row 713: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 714: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 751: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 762: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 782: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 785: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 807: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 828: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 838: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 839: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 850: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 869: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 870: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 891: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 893: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 897: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 911: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 913: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 939: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 958: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 964: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 966: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 971: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 975: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 978: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1018: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1036: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1062: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1073: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1084: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1096: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1102: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1139: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1151: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1159: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1160: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1197: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1204: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1215: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1238: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1240: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1249: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1290: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1309: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1330: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1346: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1398: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1431: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1443: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1461: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1466: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1510: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1512: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1549: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1582: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1592: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1606: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1661: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1668: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1678: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1681: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1703: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1704: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1719: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1724: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1757: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1767: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1769: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1786: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1789: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1822: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1835: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 1843: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1894: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 1895: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1904: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1909: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 1915: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1923: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 1927: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 1933: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 1935: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1937: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 1973: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2003: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2026: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2042: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2051: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2060: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2079: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2148: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2152: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2195: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2216: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2220: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2268: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2310: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2313: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 2359: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2375: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 2413: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2414: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2433: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2490: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2499: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2508: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2519: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 2534: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2561: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2563: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2596: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 2610: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2614: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2646: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2650: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2685: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2697: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2729: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2745: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 2762: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2776: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 2801: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2823: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2829: Longitude = 0.1564924306730247,Latitude = 52.704938704382336
Row 2831: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2839: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2871: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2874: Longitude = -2.830617368693378,Latitude = 54.02295513077801
Row 2887: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2891: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2896: Longitude = 1.7608432729944696,Latitude = 52.62663561476223
Row 2904: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2936: Longitude = 0.5043570910085773,Latitude = 51.55873510304531
Row 2940: Longitude = -3.392880616414023,Latitude = 51.71593199808987
Row 2968: Longitude = -2.828594718178692,Latitude = 53.744157847609756
Row 2981: Longitude = -0.06300357585157099,Latitude = 53.599134825406814
Row 2984: Longitude = 1.7608432729944696,Latitude = 52.62663561476223

In [ ]:
def assign_region(lat, lon):
    point = Point(lon, lat)
    for region_name, polygon in region_shapes:
        if polygon.contains(point) or polygon.touches(point):
            return region_name
        if polygon.buffer(0.0001).contains(point):  # Handle edge cases
            return region_name
    return None

# First get just the unmatched points
missing_mask = df_no_gas_cleaned["REGION"].isna()

# Reassign REGION using the new robust method
df_no_gas_cleaned.loc[missing_mask, "REGION"] = df_no_gas_cleaned[missing_mask].apply(
    lambda row: assign_region(row["Latitude"], row["Longitude"]), axis=1
)

# Check if any are still unmatched
still_missing = df_no_gas_cleaned[df_no_gas_cleaned["REGION"].isna()]
print(f"Still missing after retry: {len(still_missing)}")