In [21]:
import pandas as pd
import os

# Folder containing the Excel files (use '.' if they're in the current working directory)
folder_path = "."

# List of Excel filenames based on original DataFrame names
file_names = [
    "d23_v3.csv", "d22_v3.csv", "d21_v3.csv", "d20_v3.csv",
    "d19_v3.csv", "d18_v3.csv", "d17_v3.csv", "d16_v3.csv"
]

# Dictionary to store loaded DataFrames
dfs = {}

# Read each Excel file into a DataFrame
for file in file_names:
    file_path = os.path.join(folder_path, file)
    df_name = file.replace(".csv", "")
    dfs[df_name] = pd.read_csv(file_path)

# Optionally display the keys (i.e., DataFrame names)
print("Loaded DataFrames:")
print(list(dfs.keys()))

Loaded DataFrames:
['d23_v3', 'd22_v3', 'd21_v3', 'd20_v3', 'd19_v3', 'd18_v3', 'd17_v3', 'd16_v3']

In [22]:
dfs['d23_v3'].head()

,AUTHORISATION ID / PERMIT ID,ACTIVITY DESCRIPTION,OPERATOR NAME,SITE ADDRESS,SITE POSTCODE,EASTING,NORTHING,EA AREA NAME,ROUTE NAME,SUBSTANCE NAME,...,REGULATED INDUSTRY SECTOR,REGULATED INDUSTRY SUB SECTOR,EA AREA NAME LABEL,ROUTE NAME LABEL,REGULATED INDUSTRY SECTOR LABEL,REGULATED INDUSTRY SUB SECTOR LABEL,PNEC (??g/L),Latitude,Longitude,REGION
0,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,"Indeno(1,2,3-cd)pyrene",...,Landfill,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands
1,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,Benzo(a)pyrene,...,Landfill,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands
2,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,Fluoranthene,...,Landfill,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands
3,VP3130BK,"WASTE LANDFILLING; >10 T/D WITH CAPACITY >25,0...",ALAB ENVIRONMENTAL SERVICES LIMITED,NETTLETON BOTTOM QUARRY Rothwell Lincolnshire,LN7 6SR,512730.0,397880.0,Lincolnshire and Northamptonshire,Controlled Waters,"Indeno(1,2,3-cd)pyrene",...,Landfill,Non Hazardous Landfill,7,1,7,17,NaN,53.465604,-0.303352,East Midlands
4,VP3130BK,"WASTE LANDFILLING; >10 T/D WITH CAPACITY >25,0...",ALAB ENVIRONMENTAL SERVICES LIMITED,NETTLETON BOTTOM QUARRY Rothwell Lincolnshire,LN7 6SR,512730.0,397880.0,Lincolnshire and Northamptonshire,Controlled Waters,Fluoranthene,...,Landfill,Non Hazardous Landfill,7,1,7,17,NaN,53.465604,-0.303352,East Midlands

In [23]:
# Loop through each DataFrame and remove rows where the substance is 'heptachlor'
for name, df in dfs.items():
    # Assuming the column with substance names is called 'Substance' or similar
    # Replace 'Substance' below with the actual column name in your files
    dfs[name] = df[df['SUBSTANCE NAME'].str.lower() != 'heptachlor']

In [24]:
import pandas as pd
import os

# Folder containing the Excel files (use '.' if they're in the current working directory)
folder_path = "."

# List of Excel filenames based on original DataFrame names
file_names = [
    "df_no_gas.xlsx", "df22_no_gas.xlsx", "df21_no_gas.xlsx", "df20_no_gas.xlsx",
    "df19_no_gas.xlsx", "df18_no_gas.xlsx", "df17_no_gas.xlsx", "df16_no_gas.xlsx"
]

# Dictionary to store loaded DataFrames
dfs2 = {}

# Read each Excel file into a DataFrame
for file in file_names:
    file_path = os.path.join(folder_path, file)
    df_name = file.replace(".xlsx", "")
    dfs2[df_name] = pd.read_excel(file_path)

# Optionally display the keys (i.e., DataFrame names)
print("Loaded DataFrames:")
print(list(dfs2.keys()))

Loaded DataFrames:
['df_no_gas', 'df22_no_gas', 'df21_no_gas', 'df20_no_gas', 'df19_no_gas', 'df18_no_gas', 'df17_no_gas', 'df16_no_gas']

In [26]:
# Dictionary to track how many copper rows are found and added
copper_counts = {}

# Step 1: Store original lengths of dfs
original_lengths = {name: len(df) for name, df in dfs.items()}

for df2_name, df2 in dfs2.items():
    # Count copper rows
    copper_rows = df2[df2['SUBSTANCE NAME'].str.lower() == 'copper']
    copper_count = len(copper_rows)
    copper_counts[df2_name] = copper_count

    # Special case fix for 'df_no_gas'
    if df2_name == "df_no_gas":
        corresponding_name = "d23_v3"
    else:
        corresponding_name = df2_name.replace("df", "d").replace("_no_gas", "") + "_v3"

    # Step 2: Append copper rows
    if corresponding_name in dfs:
        dfs[corresponding_name] = pd.concat([dfs[corresponding_name], copper_rows], ignore_index=True)
    else:
        print(f"⚠️ Warning: {corresponding_name} not found in dfs")

# Step 3: Check that row counts increased correctly
print("\n✅ Validation Report:")
for df2_name, count_added in copper_counts.items():
    if df2_name == "df_no_gas":
        corresponding_name = "d23_v3"
    else:
        corresponding_name = df2_name.replace("df", "d").replace("_no_gas", "") + "_v3"

    if corresponding_name in dfs:
        new_length = len(dfs[corresponding_name])
        expected_length = original_lengths[corresponding_name] + count_added
        status = "✅ OK" if new_length == expected_length else f"❌ Mismatch (expected {expected_length}, got {new_length})"
        print(f"{corresponding_name}: added {count_added} copper rows — {status}")

✅ Validation Report:
d23_v3: added 674 copper rows — ✅ OK
d22_v3: added 686 copper rows — ✅ OK
d21_v3: added 692 copper rows — ✅ OK
d20_v3: added 703 copper rows — ✅ OK
d19_v3: added 725 copper rows — ✅ OK
d18_v3: added 725 copper rows — ✅ OK
d17_v3: added 732 copper rows — ✅ OK
d16_v3: added 742 copper rows — ✅ OK

In [38]:
for name, df in dfs.items():
    if {'SUBSTANCE NAME', 'EASTING', 'NORTHING'}.issubset(df.columns):
        df['EASTING'] = pd.to_numeric(df['EASTING'], errors='coerce')
        df['NORTHING'] = pd.to_numeric(df['NORTHING'], errors='coerce')
        dfs[name] = df  # update in place

In [39]:
sample = dfs['d23_v3']
copper_row = sample[sample['SUBSTANCE NAME'].str.lower() == 'copper'].dropna(subset=['EASTING', 'NORTHING']).iloc[0]
print("Test row EASTING/NORTHING:", copper_row['EASTING'], copper_row['NORTHING'])

lon, lat = transform(in_proj, out_proj, copper_row['EASTING'], copper_row['NORTHING'])
print("Converted lat/lon:", lat, lon)

Test row EASTING/NORTHING: 448170.0 410750.0
Converted lat/lon: 53.59112396394105 -1.2737371825727972

C:\Users\andre\AppData\Local\Temp\ipykernel_26124\760431109.py:5: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  lon, lat = transform(in_proj, out_proj, copper_row['EASTING'], copper_row['NORTHING'])

In [40]:
# Use pyproj's recommended Transformer
from pyproj import Transformer

# Transformer version of coordinate conversion
transformer = Transformer.from_crs("epsg:27700", "epsg:4326", always_xy=True)

def convert_coordinates(row):
    lon, lat = transformer.transform(row['EASTING'], row['NORTHING'])
    return pd.Series({'Latitude': lat, 'Longitude': lon})

# Update missing coordinates for copper rows only
for name, df in dfs.items():
    if {'SUBSTANCE NAME', 'EASTING', 'NORTHING'}.issubset(df.columns):
        # Make sure Latitude and Longitude columns exist
        if 'Latitude' not in df.columns:
            df['Latitude'] = pd.NA
        if 'Longitude' not in df.columns:
            df['Longitude'] = pd.NA

        mask = (df['SUBSTANCE NAME'].str.lower() == 'copper') & (
            df['Latitude'].isna() | df['Longitude'].isna()
        )

        if mask.any():
            df.loc[mask, ['Latitude', 'Longitude']] = df.loc[mask].apply(convert_coordinates, axis=1)
            dfs[name] = df  # update in-place
            print(f"✅ Updated coordinates for copper in {name}")
        else:
            print(f"ℹ️ No copper rows with missing coordinates in {name}")
    else:
        print(f"⚠️ Skipped {name} (missing required columns)")

✅ Updated coordinates for copper in d23_v3
✅ Updated coordinates for copper in d22_v3
✅ Updated coordinates for copper in d21_v3
✅ Updated coordinates for copper in d20_v3
✅ Updated coordinates for copper in d19_v3
✅ Updated coordinates for copper in d18_v3
✅ Updated coordinates for copper in d17_v3
✅ Updated coordinates for copper in d16_v3

In [43]:
import json
from shapely.geometry import shape, Point

# Load the GeoJSON file
with open("Regions_December_2024_Boundaries_EN_BFC_1195854647342073399 (1).geojson") as f:
    regions_geojson = json.load(f)

# Extract region polygons and names
region_shapes = []
for feature in regions_geojson["features"]:
    region_name = feature["properties"]["RGN24NM"]
    polygon = shape(feature["geometry"])
    region_shapes.append((region_name, polygon))

# Function to find which region a point belongs to
def get_region_for_point(lat, lon):
    point = Point(lon, lat)
    for name, polygon in region_shapes:
        if polygon.contains(point):
            return name
    return None

# Assign region only to copper rows with coordinates
for name, df in dfs.items():
    if {'SUBSTANCE NAME', 'Latitude', 'Longitude'}.issubset(df.columns):
        # Ensure numeric types
        df['Latitude'] = pd.to_numeric(df['Latitude'], errors='coerce')
        df['Longitude'] = pd.to_numeric(df['Longitude'], errors='coerce')

        # Identify copper rows with missing REGION but valid coordinates
        mask = (df['SUBSTANCE NAME'].str.lower() == 'copper') & (
            df['Latitude'].notna() & df['Longitude'].notna()
        )

        if mask.any():
            df.loc[mask, 'REGION'] = df.loc[mask].apply(
                lambda row: get_region_for_point(row['Latitude'], row['Longitude']),
                axis=1
            )
            dfs[name] = df  # update in-place
            print(f"✅ REGION assigned for copper rows in {name}")
        else:
            print(f"ℹ️ No copper rows with valid coordinates in {name}")
    else:
        print(f"⚠️ Skipped {name} (missing required columns)")

✅ REGION assigned for copper rows in d23_v3
✅ REGION assigned for copper rows in d22_v3
✅ REGION assigned for copper rows in d21_v3
✅ REGION assigned for copper rows in d20_v3
✅ REGION assigned for copper rows in d19_v3
✅ REGION assigned for copper rows in d18_v3
✅ REGION assigned for copper rows in d17_v3
✅ REGION assigned for copper rows in d16_v3

In [46]:
for name, df in dfs.items():
    if {'SUBSTANCE NAME', 'REGION'}.issubset(df.columns):
        # Filter copper rows
        copper_rows = df[df['SUBSTANCE NAME'].str.lower() == 'copper']
        missing_count = copper_rows['REGION'].isna().sum()
        print(f"{name}: {missing_count} copper rows missing REGION")
    else:
        print(f"{name}: 'SUBSTANCE NAME' or 'REGION' column missing")

d23_v3: 14 copper rows missing REGION
d22_v3: 11 copper rows missing REGION
d21_v3: 13 copper rows missing REGION
d20_v3: 13 copper rows missing REGION
d19_v3: 14 copper rows missing REGION
d18_v3: 11 copper rows missing REGION
d17_v3: 12 copper rows missing REGION
d16_v3: 8 copper rows missing REGION

In [47]:
import json

# Load the county GeoJSON file
with open("Counties_and_Unitary_Authorities_December_2023_Boundaries_UK_BFC_-3277701402845556292.geojson") as f:
    counties_geojson = json.load(f)

# Print first feature's properties to inspect keys
print("Example properties from county GeoJSON:")
print(counties_geojson["features"][0]["properties"])

Example properties from county GeoJSON:
{'FID': 1, 'CTYUA23CD': 'E06000001', 'CTYUA23NM': 'Hartlepool', 'CTYUA23NMW': ' ', 'BNG_E': 447160, 'BNG_N': 531474, 'LONG': -1.27018, 'LAT': 54.67614, 'GlobalID': '40eb08f8-dbd5-47c1-81ae-7ab052c5aad3'}

In [54]:
import json
from shapely.geometry import shape, Point
import pandas as pd

# Load the county GeoJSON file (geometry assumed to be in British National Grid: EPSG:27700)
with open("Counties_and_Unitary_Authorities_December_2023_Boundaries_UK_BFC_-3277701402845556292.geojson") as f:
    counties_geojson = json.load(f)

# Extract county polygons and names
county_shapes = []
for feature in counties_geojson["features"]:
    county_name = feature["properties"]["CTYUA23NM"]
    polygon = shape(feature["geometry"])
    county_shapes.append((county_name, polygon))

# Function to find county using Easting/Northing directly
def get_county_for_easting_northing(easting, northing):
    point = Point(easting, northing)
    for name, polygon in county_shapes:
        if polygon.contains(point):
            return name
    return None

# Assign counties to all valid rows in each DataFrame
for name, df in dfs.items():
    if {'EASTING', 'NORTHING'}.issubset(df.columns):
        # Ensure numeric types
        df['EASTING'] = pd.to_numeric(df['EASTING'], errors='coerce')
        df['NORTHING'] = pd.to_numeric(df['NORTHING'], errors='coerce')

        # Mask rows with valid coordinates
        mask = df['EASTING'].notna() & df['NORTHING'].notna()

        if mask.any():
            df.loc[mask, 'COUNTY'] = df.loc[mask].apply(
                lambda row: get_county_for_easting_northing(row['EASTING'], row['NORTHING']),
                axis=1
            )
            dfs[name] = df  # update in place
            print(f"✅ COUNTY assigned using Easting/Northing for {name}")
        else:
            print(f"ℹ️ No valid coordinate rows in {name}")
    else:
        print(f"⚠️ Skipped {name} (missing 'EASTING' or 'NORTHING')")

✅ COUNTY assigned using Easting/Northing for d23_v3
✅ COUNTY assigned using Easting/Northing for d22_v3
✅ COUNTY assigned using Easting/Northing for d21_v3
✅ COUNTY assigned using Easting/Northing for d20_v3
✅ COUNTY assigned using Easting/Northing for d19_v3
✅ COUNTY assigned using Easting/Northing for d18_v3
✅ COUNTY assigned using Easting/Northing for d17_v3
✅ COUNTY assigned using Easting/Northing for d16_v3

In [53]:
from shapely.geometry import shape, Point
from pyproj import Transformer

# Load your GeoJSON first if not already done
# (skip this if it's already in memory)
# with open("...geojson") as f:
#     counties_geojson = json.load(f)

# Transformer: WGS84 → British National Grid
transformer = Transformer.from_crs("epsg:4326", "epsg:27700", always_xy=True)

# Original lat/lon in WGS84
lat, lon = 53.5911, -1.2737

# Convert to Easting/Northing
easting, northing = transformer.transform(lon, lat)
point = Point(easting, northing)

# Check which county contains the point
match = None
for feature in counties_geojson['features']:
    county_name = feature['properties']['CTYUA23NM']
    polygon = shape(feature['geometry'])
    if polygon.contains(point):
        match = county_name
        break

print("Matched county:", match)

Matched county: Wakefield

In [57]:
for name, df in dfs.items():
    if {'SUBSTANCE NAME', 'COUNTY'}.issubset(df.columns):
        print(f"\n{name}:")
        substance_groups = df.groupby('SUBSTANCE NAME')
        for substance, group in substance_groups:
            missing_count = group['COUNTY'].isna().sum()
            print(f"  {substance}: {missing_count} rows missing COUNTY")
    else:
        print(f"\n{name}: 'SUBSTANCE NAME' or 'COUNTY' column missing")

d23_v3:
  Benzo(a)pyrene: 8 rows missing COUNTY
  Copper: 13 rows missing COUNTY
  Cypermethrin: 1 rows missing COUNTY
  Fluoranthene: 7 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 7 rows missing COUNTY

d22_v3:
  Benzo(a)pyrene: 7 rows missing COUNTY
  Copper: 10 rows missing COUNTY
  Cypermethrin: 1 rows missing COUNTY
  Fluoranthene: 7 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 7 rows missing COUNTY

d21_v3:
  Benzo(a)pyrene: 6 rows missing COUNTY
  Copper: 12 rows missing COUNTY
  Cypermethrin: 1 rows missing COUNTY
  Fluoranthene: 6 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 6 rows missing COUNTY

d20_v3:
  Benzo(a)pyrene: 5 rows missing COUNTY
  Copper: 12 rows missing COUNTY
  Cypermethrin: 0 rows missing COUNTY
  Fluoranthene: 5 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 5 rows missing COUNTY

d19_v3:
  Benzo(a)pyrene: 5 rows missing COUNTY
  Copper: 13 rows missing COUNTY
  Cypermethrin: 0 rows missing COUNTY
  Fluoranthene: 5 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 5 rows missing COUNTY

d18_v3:
  Benzo(a)pyrene: 5 rows missing COUNTY
  Copper: 10 rows missing COUNTY
  Cypermethrin: 0 rows missing COUNTY
  Fluoranthene: 5 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 5 rows missing COUNTY

d17_v3:
  Benzo(a)pyrene: 5 rows missing COUNTY
  Copper: 11 rows missing COUNTY
  Cypermethrin: 0 rows missing COUNTY
  Fluoranthene: 5 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 5 rows missing COUNTY

d16_v3:
  Benzo(a)pyrene: 6 rows missing COUNTY
  Copper: 7 rows missing COUNTY
  Cypermethrin: 0 rows missing COUNTY
  Fluoranthene: 6 rows missing COUNTY
  Indeno(1,2,3-cd)pyrene: 6 rows missing COUNTY

In [55]:
dfs['d23_v3'

,AUTHORISATION ID / PERMIT ID,ACTIVITY DESCRIPTION,OPERATOR NAME,SITE ADDRESS,SITE POSTCODE,EASTING,NORTHING,EA AREA NAME,ROUTE NAME,SUBSTANCE NAME,...,REGULATED INDUSTRY SUB SECTOR,EA AREA NAME LABEL,ROUTE NAME LABEL,REGULATED INDUSTRY SECTOR LABEL,REGULATED INDUSTRY SUB SECTOR LABEL,PNEC (??g/L),Latitude,Longitude,REGION,COUNTY
0,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,"Indeno(1,2,3-cd)pyrene",...,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands,Leicestershire
1,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,Benzo(a)pyrene,...,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands,Leicestershire
2,RP3738ZK,DISPOSAL OF > 50 T/D NON-HAZARDOUS WASTE (> 10...,Suez Recycling And Recovery Uk Ltd,"Enderby Leachate Treatment Plant,Enderby Landf...",LE9 5AL,453800.0,302600.0,East Midlands,Wastewater,Fluoranthene,...,other,3,3,7,30,NaN,52.618512,-1.206773,East Midlands,Leicestershire
3,VP3130BK,"WASTE LANDFILLING; >10 T/D WITH CAPACITY >25,0...",ALAB ENVIRONMENTAL SERVICES LIMITED,NETTLETON BOTTOM QUARRY Rothwell Lincolnshire,LN7 6SR,512730.0,397880.0,Lincolnshire and Northamptonshire,Controlled Waters,"Indeno(1,2,3-cd)pyrene",...,Non Hazardous Landfill,7,1,7,17,NaN,53.465604,-0.303352,East Midlands,Lincolnshire
4,VP3130BK,"WASTE LANDFILLING; >10 T/D WITH CAPACITY >25,0...",ALAB ENVIRONMENTAL SERVICES LIMITED,NETTLETON BOTTOM QUARRY Rothwell Lincolnshire,LN7 6SR,512730.0,397880.0,Lincolnshire and Northamptonshire,Controlled Waters,Fluoranthene,...,Non Hazardous Landfill,7,1,7,17,NaN,53.465604,-0.303352,East Midlands,Lincolnshire
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153,T/10/35431/R,NaN,SEVERN TRENT WATER LTD,Minworth Final ASP Effluent,B76 9BE,417150.0,291950.0,West Midlands,Controlled Waters,Copper,...,Water Industry,12,1,15,29,NaN,52.525158,-1.748653,West Midlands,Birmingham
1154,CSSA.0360,NaN,THAMES WATER UTILITIES LTD,BECKTON STW,IG11 0AD,545470.0,181670.0,Hertfordshire and North London,Controlled Waters,Copper,...,Water Industry,5,1,15,29,NaN,51.515230,0.095074,London,Newham
1155,AENTS13068,NaN,Anglian Water,Wisbech W.Walton STW,NaN,545800.0,314100.0,Lincolnshire and Northamptonshire,Controlled Waters,Copper,...,Water Industry,7,1,15,29,NaN,52.704939,0.156492,None,None
1156,AEECS12290,NaN,Anglian Water,Caister (Great Yarmouth) STW,NaN,654620.0,309850.0,East Anglia,Controlled Waters,Copper,...,Water Industry,2,1,15,29,NaN,52.626636,1.760843,None,None
1157,16810068,NaN,UNITED UTILITIES WATER PLC,CREWE,NaN,366690.0,357370.0,Greater Manchester Merseyside and Cheshire,Controlled Waters,Copper,...,Water Industry,4,1,15,29,NaN,53.112466,-2.499081,North West,Cheshire East

In [58]:
print("🔍 Comparing copper row counts between dfs2 and dfs:\n")

for df2_name, df2 in dfs2.items():
    # Determine corresponding name in dfs
    if df2_name == "df_no_gas":
        corresponding_name = "d23_v3"
    else:
        corresponding_name = df2_name.replace("df", "d").replace("_no_gas", "") + "_v3"
    
    # Count copper in dfs2
    copper_count_dfs2 = df2[df2['SUBSTANCE NAME'].str.lower() == 'copper'].shape[0]

    # Count copper in dfs
    if corresponding_name in dfs:
        copper_count_dfs = dfs[corresponding_name][dfs[corresponding_name]['SUBSTANCE NAME'].str.lower() == 'copper'].shape[0]
        print(f"{corresponding_name}: dfs2 = {copper_count_dfs2}, dfs = {copper_count_dfs}")
    else:
        print(f"{corresponding_name}: ❌ not found in dfs")

🔍 Comparing copper row counts between dfs2 and dfs:

d23_v3: dfs2 = 674, dfs = 674
d22_v3: dfs2 = 686, dfs = 686
d21_v3: dfs2 = 692, dfs = 692
d20_v3: dfs2 = 703, dfs = 703
d19_v3: dfs2 = 725, dfs = 725
d18_v3: dfs2 = 725, dfs = 725
d17_v3: dfs2 = 732, dfs = 732
d16_v3: dfs2 = 742, dfs = 742

In [59]:
import os

# Folder to save the CSVs (use "." for current directory)
output_folder = "."

# Save each DataFrame with updated filename
for name, df in dfs.items():
    if name.endswith("_v3"):
        new_name = name.replace("_v3", "_v4") + ".csv"
        output_path = os.path.join(output_folder, new_name)
        df.to_csv(output_path, index=False)
        print(f"✅ Saved {new_name}")
    else:
        print(f"⚠️ Skipped {name} (does not end with '_v3')")

✅ Saved d23_v4.csv
✅ Saved d22_v4.csv
✅ Saved d21_v4.csv
✅ Saved d20_v4.csv
✅ Saved d19_v4.csv
✅ Saved d18_v4.csv
✅ Saved d17_v4.csv
✅ Saved d16_v4.csv