In [11]:
import pandas as pd

# Load the Excel file
file_path = "C:/Users/qp24297/Desktop/Final_dataset/Fluoranthene_only.xlsx"
df = pd.read_excel(file_path)

# Clean up column names: remove leading/trailing spaces and convert to lowercase
df.columns = df.columns.str.strip().str.lower()

# Group by company name and calculate the total released quantity per operator
emitter_totals = (
    df.groupby("operator name")["quantity released (kg)"]
    .sum()
    .reset_index()
)

# Filter out companies with zero total emissions
nonzero_emitters = emitter_totals[emitter_totals["quantity released (kg)"] > 0]

# Sort by total emissions in descending order
nonzero_emitters = nonzero_emitters.sort_values(by="quantity released (kg)", ascending=False).reset_index(drop=True)

# Display the result
print("üè≠ All companies with non-zero Fluoranthene emissions:")
print(nonzero_emitters)

print(f"\nüìä Total number of companies that emitted Fluoranthene: {len(nonzero_emitters)}")

üè≠ All companies with non-zero Fluoranthene emissions:
                             operator name  quantity released (kg)
0             VIRIDOR WASTE MANAGEMENT LTD               104.07786
1               THAMES WATER UTILITIES LTD                87.44870
2               UNITED UTILITIES WATER PLC                49.55200
3                   SEVERN TRENT WATER LTD                42.06000
4               Esso Petroleum Company Ltd                40.01000
5                            Anglian Water                16.79000
6                   Longs Steel UK Limited                13.75000
7                   NORTHUMBRIAN WATER LTD                13.34000
8                           Southern Water                12.70000
9            Severn Waste Services Limited                 9.79700
10                            Wessex Water                 8.93000
11                   British Steel Limited                 7.37000
12        Viridor Waste Management Limited                 5.62173
13  Sahaviriya Steel Industries UK Limited                 3.94800
14                    SOUTH WEST WATER LTD                 3.33000
15          ESSO Petroleum Company Limited                 1.82000
16       Valencia Waste Management Limited                 0.72132
17   Bradley Park Waste Management Limited                 0.70000
18                     Phillips 66 Limited                 0.68000
19           Urbaser Environmental Limited                 0.63000
20                DWR CYMRU CYFYNGEDIG LTD                 0.45000
21           Haltermann Carless UK Limited                 0.24077
22            Viridor Waste Exeter Limited                 0.12800
23                    DWR CYMRU CYFYNGEDIG                 0.10000

üìä Total number of companies that emitted Fluoranthene: 24

In [16]:
import pandas as pd

# Normalize company names: uppercase and strip whitespace
df['operator name'] = df['operator name'].str.upper().str.strip()

# Dictionary to map variations to standardized company names
company_name_mapping = {
    'ESSO PETROLEUM COMPANY LTD': 'ESSO PETROLEUM COMPANY LIMITED',
    'ESSO PETROLEUM COMPANY LIMITED': 'ESSO PETROLEUM COMPANY LIMITED',
    'DWR CYMRU CYFYNGEDIG LTD': 'DWR CYMRU CYFYNGEDIG',
    'DWR CYMRU CYFYNGEDIG': 'DWR CYMRU CYFYNGEDIG',
    'VIRIDOR WASTE MANAGEMENT LTD': 'VIRIDOR WASTE MANAGEMENT LIMITED',
    'VIRIDOR WASTE MANAGEMENT LIMITED': 'VIRIDOR WASTE MANAGEMENT LIMITED',
}

# Apply the mapping to standardize names
df['operator name'] = df['operator name'].replace(company_name_mapping)

# Group by standardized operator name and sum emissions
company_emissions_ranked = (
    df.groupby('operator name')['quantity released (kg)']
    .sum()
    .reset_index()
    .sort_values(by='quantity released (kg)', ascending=False)
    .reset_index(drop=True)
)

# Add ranking column
company_emissions_ranked['rank'] = company_emissions_ranked.index + 1

# Display the corrected result
print(company_emissions_ranked)

                             operator name  quantity released (kg)  rank
0         VIRIDOR WASTE MANAGEMENT LIMITED               109.69959     1
1               THAMES WATER UTILITIES LTD                87.44870     2
2               UNITED UTILITIES WATER PLC                49.55200     3
3                   SEVERN TRENT WATER LTD                42.06000     4
4           ESSO PETROLEUM COMPANY LIMITED                41.83000     5
5                            ANGLIAN WATER                16.79000     6
6                   LONGS STEEL UK LIMITED                13.75000     7
7                   NORTHUMBRIAN WATER LTD                13.34000     8
8                           SOUTHERN WATER                12.70000     9
9            SEVERN WASTE SERVICES LIMITED                 9.79700    10
10                            WESSEX WATER                 8.93000    11
11                   BRITISH STEEL LIMITED                 7.37000    12
12  SAHAVIRIYA STEEL INDUSTRIES UK LIMITED                 3.94800    13
13                    SOUTH WEST WATER LTD                 3.33000    14
14       VALENCIA WASTE MANAGEMENT LIMITED                 0.72132    15
15   BRADLEY PARK WASTE MANAGEMENT LIMITED                 0.70000    16
16                     PHILLIPS 66 LIMITED                 0.68000    17
17           URBASER ENVIRONMENTAL LIMITED                 0.63000    18
18                    DWR CYMRU CYFYNGEDIG                 0.55000    19
19           HALTERMANN CARLESS UK LIMITED                 0.24077    20
20            VIRIDOR WASTE EXETER LIMITED                 0.12800    21